{% extends 'base.html' %}
{% block content %}

<h2>Movie Page</h2>

<ul>
	Title: {{ movie.title }}<br>
	Release Date: {{ movie.released_at }}<br>
	IMDB: <a href="{{ movie.imdb_url }}">{{ movie.imdb_url }}</a><br>
	<br>

	{% if session.get('user') %}
		{% if found_user %}
		Update your score:
		{% else %}
		Please rate this movie:
		{% endif %}
	{% endif %}
	<form method="POST">
	<select name="rating">
		<option value ='1'>1</option>
		<option value ='2'>2</option>
		<option value ='3'>3</option>
		<option value ='4'>4</option>
		<option value ='5'>5</option>
	</select>
	<input type="submit" name="Submit">
</form>
	
	<br>
	Ratings for  {{ movie.title }}: <br>
	{% for rating in movie.ratings %}
	User {{ rating.user.user_id }} rated {{ rating.score}}.<br>
	{% endfor %}
	
</ul>


{% endblock %}